 * {
 
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   list-style: none;
   box-sizing: border-box;
 }

 html

 /*White space showing up on right side of page */
   {  
   width: auto;
   height: 100vw;
   scroll-behavior: smooth;
   padding: 0px;
   position: sticky;
   overflow-x: hidden;

 }
 body{background-color: rgb(245, 245, 245);
  /* background-image: linear-gradient(to right,rgb(6, 1, 19), rgb(28, 4, 90), rgb(6, 1, 19),rgb(28, 4, 90),rgb(6, 1, 19)); */
    }

 .body {  
   height: 100vw;
   width: 100vw;
   
 }




 .header {
   align-items: center;
   padding: 0cm;
   margin: 0cm;
   background-color: rgb(0, 0, 0);
    
   font-size: 25px;
   display: flex;
   color: white;
   justify-content: space-between;
   height: 3em;
   position: sticky;
   top: 0;

 }

 .headermid {
   text-align: justify;
   justify-items: center;

 }

 .headermid a {
   text-decoration: none;

 }

 .headerRight {

   text-decoration: none;
  
 }

 img {
   width: 100%;
   height: auto;
 }
 #rowrow{margin-top: 1%; }
 .container-text-center {
   /* border: 6px solid #CC4949;*/
background-color:rgba(124, 115, 115, 0.308);
   width: 100%;

 }
 .container-text-center img{
  border-radius: 15px;
 }
.rowup{background-color: #4d4b4b; 
  text-align:center; 
  color: rgb(255, 255, 255);
}
 .row {   align-items: baseline;
  background-color: rgb(255, 255, 255); 
  /* background-image:linear-gradient(to right,  rgb(23, 34, 65),rgb(0, 66, 255),rgb(6, 1, 19));; */
display: flex;
align-items: center;
justify-content: space-evenly;
margin: 0 3%;
   /*border: 6px solid #469731;*/
    
 }

 .col-sm-3 img:hover { 
   transition: 0.3s all ease-in-out;
   transform: scale(1.2);
      
  }
  .midtext{color: rgb(255, 255, 255);background-color:#5a5a5a;}
  .midtext p{color: rgb(255, 255, 255)!important;}
   
 .col-sm-3 {
 
   display: flex;
   flex-direction: row;

   justify-content: space-between;
   margin-left: 3%;
   margin-right: 3%;

   /*border: 6px solid #859c2879;*/
    width: 100vw;
 max-width: 95%;
 


 }



 @media only screen and(max-width: 255px) {.contactForm{display: flex;flex-direction:column;}
.contact-left{justify-content: center;align-items: center;}
   .container-text-center,
   .midPhoto,
   .headermid,
   .headerRight {
     display: none;
     
   }

   @media only screen and (min-width: 300px) {.contactForm{display: flex;flex-direction:column;}}
   .contact-left{justify-content: center;align-items: center; padding:50%; width: 55%;}
   .col-s-1 {
     width: 8.33%;
   }

   .col-s-2 {
     width: 16.66%;
   }

   .col-s-3 {
     width: 25%;
   }

   .col-s-4 {
     width: 33.33%;
   }

   .col-s-5 {
     width: 41.66%;
   }

   .col-s-6 {
     width: 50%;
   }

   .col-s-7 {
     width: 58.33%;
   }

   .col-s-8 {
     width: 66.66%;
   }

   .col-s-9 {
     width: 75%;
   }

   .col-s-10 {
     width: 83.33%;
   }

   .col-s-11 {
     width: 91.66%;
   }

   .col-s-12 {
     width: 100%;
   }
 }

 @media only screen and (max-width: 767px) {.contactForm{display: flex;flex-direction:column;}
 .contact-left{ text-align: center;  width: 90vw;min-width: 90vw;   }
   .container-text-center,
   .midPhoto,
   .headermid,
   .headerRight {
     display: none;
   }


   .col-s-1 {
     width: 8.33%;
   }

   .col-s-2 {
     width: 16.66%;
   }

   .col-s-3 {
     width: 25%;
   }

   .col-s-4 {
     width: 33.33%;
   }

   .col-s-5 {
     width: 41.66%;
   }

   .col-s-6 {
     width: 50%;
   }

   .col-s-7 {
     width: 58.33%;
   }

   .col-s-8 {
     width: 66.66%;
   }

   .col-s-9 {
     width: 75%;
   }

   .col-s-10 {
     width: 83.33%;
   }

   .col-s-11 {
     width: 91.66%;
   }

   .col-s-12 {
     width: 100%;
   }
 }

 @media only screen and (min-width: 768px) {.contactForm{display: flex;flex-direction:row;}
   .col-1 {
     width: 8.33%;
   }

   .col-2 {
     width: 16.66%;
   }

   .col-3 {
     width: 25%;
   }

   .col-4 {
     width: 33.33%;
   }

   .col-5 {
     width: 41.66%;
   }

   .col-6 {
     width: 50%;
   }

   .col-7 {
     width: 58.33%;
   }

   .col-8 {
     width: 66.66%;
   }

   .col-9 {
     width: 75%;
   }

   .col-10 {
     width: 83.33%;
   }

   .col-11 {
     width: 91.66%;
   }

   .col-12 {
     width: 100%;
   }
 }

 .social-icon {
   text-decoration: none;
 }

 .social-icon img {

   width: 15%;
   height: auto;
 }

 .midPhoto {
 
   width: 100%;
   height: fit-content;

 }

 #inline {
   font-weight: bold;
   margin-top: 1%;
   text-align: center;
   font-size: 2.3em;
 }

 #inline2 {

   font-size: 1.7em;
   color: #000;


   text-align: center;


 }


 .feedback-input {
   flex-direction: row;
 }

 .contact-left {

   width: 25%;

   border: 2px solid rgb(12, 12, 12);
   background-color: rgb(250, 255, 244);
   border-radius: 15px;
 }

 .contact {margin-right: 5%;}

 .contact-right {
  margin-left: 5%;
   width: 75%;
 }

 .contact-left img {}

 .feedback-input {
   cursor: pointer auto;
 }

 .solid {
   border-top: 1px solid green;
 }

 @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


 .contactForm {

   margin: 3%;
   width: 95vw;
   height: auto;

 }

 form {
   max-width: 1620px;

 }

 .feedback-input {
   color: rgb(8, 8, 8);
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 500;
   font-size: 18px;
   border-radius: 5px;
   line-height: 22px;
   background-color: transparent;
   border: 2px solid #12f7ff;
   transition: all 0.3s;
   padding: 13px;
   margin-bottom: 15px;
   width: 100%;
   box-sizing: border-box;
   outline: 0;
 }

 .feedback-input:focus {
   border: 2px solid rgb(0, 255, 213);
 }

 textarea {
   height: 150px;
   line-height: 150%;
   resize: vertical;
 }
 
 [type="submit"] {
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   width: 100%;
   background: rgba(14, 15, 15, 0.062);
   border-radius: 5px;
   border: 0;
   cursor: pointer;
   color: rgb(45, 51, 50);
   font-size: 24px;
   padding-top: 10px;
   padding-bottom: 10px;
   transition: all 0.3s;
   margin-top: -4px;
   font-weight: 700;
  color: white;
 }

 [type="submit"]:hover {
   background: white;
   color: rgb(15, 17, 17);
 }
 .button-submit{
  background-color: black;
  color: white;
 }
 .button-submit:hover{
  border: 1px solid black;
  border-radius: 5px;

 }