 
 html{width: 100vw;
  height: 100vh;
padding: 0;}
 
 #navbar {
  width: 100%;
  height: 15%;
  position: absolute;
display: inline-block;
border: 6px solid red;
background-color: rgb(51, 51, 51);
}
#navbar a {
    color :white;
    text-decoration: none;
}
#navbar > * {
  padding: 1rem; display: inline-block;
}
.nav-container{
 
  opacity: 0;}
.nav-container:hover{ 
  opacity: 1;}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.nav-container:hover #navbar {
  
 
}
#farmasilogo{max-height: 3em;max-width: 3em;
   width: 100%; height: 100vh;}
.nav-container img{   
 
}
.nav-container{   
  background-color: #333;
}
 .slidecontainer {
  width: 100%;  
  display: flex;
  overflow-x: auto;  height: auto;
}
.carousel-inner{

   height: 100vh;
   width: 100vw;
}
.carousel{ 
  
  width:  100vw;  height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      }
   
   
 
.carousel img{  height: 100vh;
   
  width:100%; 
  max-height: 100%;
  max-width: 100%;  }
  .carousel-control-prev{height: 50%; width: auto;justify-content: center; align-items: center; margin-top: 20%;}
  .carousel-control-next{height: 50%; width: auto;justify-content: center; align-items: center;margin-top: 20%;}
@media only screen and(max-width: 255px) {
  
}
  
@media only screen and (min-width: 300px) 
{
      .col-s-1 {width: 8.33%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 25%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}
}
@media only screen and (max-width: 767px) 
{.midPhoto,.headerMid,.headerRight {
      display: none; 
    }
      
      
      .col-s-1 {width: 8.33%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 25%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) 
{
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
  @media only screen and (min-width: 1280px) 
{
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}   @media only screen and (max-width: 1281px) 
{
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}  
@media only screen and (max-width: 1600px) 
{
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}  
@media only screen and (min-width: 1607px) 
{
    .col-s-1 {width: 8.33%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 25%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}
}  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}